<div class="tariffs-desktop-table">
  <div class="tariffs-desktop-table__head">
    <div class="tariffs-desktop-table__column tariffs-desktop-table__column--small">
      <div class="tariffs-desktop-table__cell">
        Накопленный Торговый Оборот по договору с Клиентом за Торговый день к моменту совершения сделки, руб
      </div>
    </div>
    <div class="tariffs-desktop-table__column">
      <div class="tariffs-desktop-table__head-row">
        <div class="tariffs-desktop-table__head-cell">
          Брокерская комиссия, в % от суммы сделки, включая НКД
        </div>
      </div>
      <div class="tariffs-desktop-table__head-row">
        <div class="tariffs-desktop-table__head-cell tariffs-desktop-table__head-cell--small">
          Обычный тариф
        </div>
        <div class="tariffs-desktop-table__head-cell">
          Тариф при предоставлении клиенту в пользование системы QUIK
        </div>
      </div>
    </div>
  </div>
  <div class="tariffs-desktop-table__body">
    <div class="tariffs-desktop-table__column tariffs-desktop-table__column--small">
      <div class="tariffs-desktop-table__row">
        <div class="tariffs-desktop-table__cell tariffs-desktop-table__cell--strong">
  
        </div>
      </div>
    </div>
    <div class="tariffs-desktop-table__column">
      <div class="tariffs-desktop-table__row">
        <div class="tariffs-desktop-table__cell">
  
        </div>
      </div>
    </div>
  </div>
</div>
