<section id="advantages" class="advantages">
  <div class="wrapper advantages__wrapper">
    <h2 class="title title--secondary advantages__title">Преимущества компании</h2>

    <div class="advantages__body" data-scrollspy="fade-in">
      <ul class="advantages__list">
        <li class="advantages__item">
          <div class="advantages__item-title">30 лет</div>
          <div class="advantages__item-text">
            Опыт работы с ценными <br class="none-ss none-sm">
            бумагами российских <br class="none-ss none-sm">
            и иностранных эмитентов
          </div>
        </li>

        <li class="advantages__item">
          <div class="advantages__item-title">A-|ru.iv|</div>
          <div class="advantages__item-text">
            Высокая степень надежности <br class="none-ss none-sm">
            и качества услуг инвестиционной <br class="none-ss none-sm">
            компании. Прогноз стабильный. <br class="none-ss none-sm">
            Национальное Рейтинговое <br class="none-ss none-sm">
            Агентство
          </div>
        </li>

        <li class="advantages__item">
          <div class="advantages__item-title">Участник торгов</div>
          <div class="advantages__item-text">
            Являемся участниками торгов <br class="none-ss none-sm">
            на Московской бирже (фодовый <br class="none-ss none-sm">
            рынок, срочный рынок, валютный <br class="none-ss none-sm">
            рынок) и СПБ бирже
          </div>
        </li>

        <li class="advantages__item">
          <div class="advantages__item-title advantages__item-title--naufor-icon">
            <svg class="naufor-icon">
              <use xlink:href="images/sprite.svg#naufor"></use>
            </svg>
          </div>
          <div class="advantages__item-text">
            Явяется членом Национальной <br class="none-ss none-sm">
            Ассоциации Участников <br class="none-ss none-sm">
            Фондового Рынка (<a href="" class="link">Науфор</a>)
          </div>
        </li>
      </ul>
    </div>
  </div>

  <picture>
    <source data-srcset="images/complex/advantages/advantages__bg_sm.jpg 1x, images/complex/advantages/advantages__bg_sm_2x.jpg 2x" media="(max-width: 767.98px)">
    <source data-srcset="images/complex/advantages/advantages__bg_md.jpg 1x, images/complex/advantages/advantages__bg_md_2x.jpg 2x" media="(max-width: 1279.98px)">

    <img class="lazy img-cover advantages__bg" data-src="images/complex/advantages/advantages__bg_lg.jpg" alt="">
  </picture>
</section>