<div class="invest-card">
  <div class="invest-card__body">
    <div class="invest-card__title">
      Откройте брокерский счет в ТРИНФИКО
    </div>

    <div class="invest-card__text">
      Это можно сделать онлайн в личном кабинет и начать торговлю ценными бумагами с надежны брокером
    </div>
  </div>

  <div class="invest-card__index">
    <span>01.</span>
  </div>
  
  <img class="invest-card__decor invest-card__decor--1" src="images/invest/invest__img_1.png" alt="">
</div>

<div class="invest-card">
  <div class="invest-card__body">
    <div class="invest-card__title">
      Пополните счет и начните инвестировать
    </div>

    <div class="invest-card__text">
      Переведите деньги на свой счет из любого российского банка. Мы не берем комиссию за зачисление
    </div>        
  </div>

  <div class="invest-card__index">
    <span>02.</span>
  </div>

  <img class="invest-card__decor invest-card__decor--2" src="images/invest/invest__img_2.png" alt="">
</div>

<div class="invest-card invest-card--btns">
  <div class="invest-card__body">
    <div class="invest-card__title">
      Все инструменты доступны онлайн
    </div>

    <div class="invest-card__text">
      Лицензия профессионального участника рынка ценных бумаг на осуществление брокерской деятельности
    </div>   
    
    <div class="invest-card__buttons">
      <a href="" class="invest-card__button-lk button button--big-text button--fill button--round-icon">
        <span class="button__round-icon round-icon round-icon--small round-icon--default round-icon--user round-icon--dark">
          <div class="round-icon__wrapper">
            <svg class="round-icon__icon round-icon__icon--user inline-svg">
              <use xlink:href="images/sprite.svg#user"></use>
            </svg>
          </div>
        </span>
        <span class="button__text">
          Открыть онлайн
        </span>
      </a>

      <a href="" class="invest-card__button-consultation button button--big-text button--white button--long" data-hystmodal="#question-modal">
        <span class="button__text">
          Получить консультацию
        </span>
      </a>
    </div> 
  </div>

  <img class="invest-card__decor invest-card__decor--3" src="images/invest/invest__img_3.png" alt="">
</div>
