<section class="hero">
  <div class="wrapper">
    <div class="hero__container">
      <h1 class="hero__title title title--primary">
        Откройте <br>
        брокерский <br class="none-lg none-xl none-xxl">
        счет
      </h1>
  
      <div class="hero__text">
        Откройте брокерский счет <br class="none-lg none-xl none-xxl">
        и начините зарабатывать<br class="none-lg none-xl none-xxl">
        прямо сейчас
      </div>
  
      <div class="hero__buttons">
        <a href="" class="hero__button-lk button button--fill button--round-icon">
          <span class="button__round-icon round-icon round-icon--small round-icon--default round-icon--user round-icon--dark">
            <div class="round-icon__wrapper">
              <svg class="round-icon__icon round-icon__icon--user inline-svg">
                <use xlink:href="images/sprite.svg#user"></use>
              </svg>
            </div>
          </span>
          <span class="button__text">
            Личный кабинет
          </span>
        </a>
  
        <a href="" class="hero__button-consultation button button--long" data-hystmodal="#question-modal">
          <span class="button__text">
            Получить консультацию
          </span>
        </a>
      </div>
    </div>
  </div>

  <picture>
    <source data-srcset="images/complex/hero/hero__bg_sm.png 1x, images/complex/hero/hero__bg_sm_2x.png 2x" media="(max-width: 767.98px)">
    <source data-srcset="images/complex/hero/hero__bg_md.png 1x, images/complex/hero/hero__bg_md_2x.png 2x" media="(max-width: 1279.98px)">
    <source data-srcset="images/complex/hero/hero__bg_lg.png 1x">

    <img class="lazy img-cover hero__bg" data-src="images/complex/hero/hero__bg_lg.png" alt="">
  </picture>
</section>