.licenses {
  padding-top: 37px;
  padding-bottom: 41px;

  @include sm {
    padding-top: 65px;
    padding-bottom: 73px;
  }

  @include lg {
    padding-top: 66px;
    padding-bottom: 80px;
  }

  &__title {
    margin-bottom: 23px;

    @include sm {
      margin-bottom: 30px;
    }

    @include lg {
      margin-bottom: 31px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include lg {
      flex-flow: row wrap;
    }
  }

  &__item {
    margin-bottom: 20px;

    @include sm {
      margin-bottom: 40px;
    }

    @include lg {
      flex: 1 1 calc(50% - 20px);
      margin-right: 40px;

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      @include lg {
        margin-right: 0;
      }
    }
  }
}
