.gorizontal-nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 27px;

    @include xl {
      margin-right: 80px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    transition: all $duration ease;

    &:hover {
      color: $primary;
    }
  }
}
