<section class="contacts">
  <div class="contacts__wrapper wrapper">
    <div class="contacts__body">
      <div class="contacts__left-container">
        <h1 class="contacts__title title title--primary">Контакты</h1>

        <ul class="contacts__list">
          <li class="contacts__item">
            <div class="contacts-block">
              <div class="contacts-block__label">
                Адрес
              </div>
            
              <div class="contacts-block__text">
                Россия, 129090, Москва, <br>
                Ботанический переулок, д.5
              </div>
            </div>
          </li>

          <li class="contacts__item contacts__item--tel">
            <div class="contacts-block">
              <div class="contacts-block__label">
                Телефон
              </div>
            
              <a class="contacts-block__text contacts-block__text--link" href="tel:+74957272500">+ 7 495 727 25 00</a>
            
              <div class="contacts-block__icon">
                <div class="round-icon round-icon--large">
                  <div class="round-icon__wrapper">
                    <svg class="round-icon__icon round-icon__icon--call inline-svg">
                      <use xlink:href="images/sprite.svg#call"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="contacts__item contacts__item--email">
            <div class="contacts-block">
              <div class="contacts-block__label">
                Электронная почта
              </div>
            
              <a class="contacts-block__text contacts-block__text--link" href="mailto:info@trinfico.com">info@trinfico.com</a>
            
              <div class="contacts-block__icon">
                <div class="round-icon round-icon--large">
                  <div class="round-icon__wrapper">
                    <svg class="round-icon__icon round-icon__icon--mail inline-svg">
                      <use xlink:href="images/sprite.svg#mail"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>

    <div class="contacts__map">
      <div id="map" class="ya-map">

      </div>
    </div>
  </div>    
</section>