<section class="licenses">
  <div class="wrapper">
    <h2 class="licenses__title title title--secondary">
      Лицензии
    </h2>

    <ul class="licenses__list">
      <li class="licenses__item" data-scrollspy="fade-in">
        <div class="file-card">
          <div class="file-card__body">
            <div class="file-card__title">
              Лицензия профессионального участника рынка ценных бумаг на осуществление брокерской деятельности              
            </div>
            <div class="file-card__label">
              Не актуально в связи с изменением наименования
            </div>
          </div>
          <div class="file-card__footer">
            <a href="" class="file-card__button button button--fill button--short button--upper">
              <span class="button__text">
                Посмотреть
              </span>
            </a>
            <div class="file-card__info">
              <div class="file-card__date">Дата раскрытия: 24.05.2021</div>
              <div class="file-card__size">1.4 Мб</div>
            </div>
          </div>
        </div>
      </li>

      <li class="licenses__item" data-scrollspy="fade-in">
        <div class="file-card">
          <div class="file-card__body">
            <div class="file-card__title">
              Лицензия профессионального участника рынка ценных бумаг на осуществление деятельности по управлению ценными бумагами              
            </div>
            <div class="file-card__label">
              Не актуально в связи с изменением наименования
            </div>
          </div>
          <div class="file-card__footer">
            <a href="" class="file-card__button button button--fill button--short button--upper">
              <span class="button__text">
                Посмотреть
              </span>
            </a>
            <div class="file-card__info">
              <div class="file-card__date">Дата раскрытия: 24.05.2021</div>
              <div class="file-card__size">1.4 Мб</div>
            </div>
          </div>
        </div>
      </li>

      <li class="licenses__item" data-scrollspy="fade-in">
        <div class="file-card">
          <div class="file-card__body">
            <div class="file-card__title">
              Лицензия профессионального участника рынка ценных бумаг на осуществление депозитарной деятельности           
            </div>
            <div class="file-card__label">
              Не актуально в связи с изменением наименования
            </div>
          </div>
          <div class="file-card__footer">
            <a href="" class="file-card__button button button--fill button--short button--upper">
              <span class="button__text">
                Посмотреть
              </span>
            </a>
            <div class="file-card__info">
              <div class="file-card__date">Дата раскрытия: 24.05.2021</div>
              <div class="file-card__size">1.4 Мб</div>
            </div>
          </div>
        </div>
      </li>

      <li class="licenses__item" data-scrollspy="fade-in">
        <div class="file-card">
          <div class="file-card__body">
            <div class="file-card__title">
              Лицензия профессионального участника рынка ценных бумаг на осуществление дилерской деятельности             
            </div>
            <div class="file-card__label">
              Не актуально в связи с изменением наименования
            </div>
          </div>
          <div class="file-card__footer">
            <a href="" class="file-card__button button button--fill button--short button--upper">
              <span class="button__text">
                Посмотреть
              </span>
            </a>
            <div class="file-card__info">
              <div class="file-card__date">Дата раскрытия: 24.05.2021</div>
              <div class="file-card__size">1.4 Мб</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>