<div class="tariffs-mobile-table">
  <div class="tariffs-mobile-table__row">
    <div class="tariffs-mobile-table__cell tariffs-mobile-table__cell--head tariffs-mobile-table__cell--small">Обычный тариф</div>
    <div class="tariffs-mobile-table__cell tariffs-mobile-table__cell--head">Тариф при предоставлении клиенту в пользование системы QUIK</div>
  </div>
  <div class="tariffs-mobile-table__row">
    <div class="tariffs-mobile-table__cell tariffs-mobile-table__cell--small">
      {{ item.tariff_1 }}
    </div>
    <div class="tariffs-mobile-table__cell">
      {{ item.tariff_2 }}
    </div>
  </div>
</div>