{% set faqList = [
  {
      'title': 'Что такое паевой инвестиционный фонд (ПИФ)?',
      'text': 'Несмотря на изменения в полномочиях прокурора в гражданском и арбитражном судопроизводстве, его роль в надзоре за законностью и защите прав граждан остается важной. Прокуратура продолжает осуществлять контроль'
  },
  {
    'title': 'Что такое Управляющая компания?',
    'text': 'В последующие годы прокуратура получила значительные полномочия в гражданском и арбитражном судопроизводстве. Например, в Законе «О прокуратуре СССР» 1979 года установлено, что прокурор может протестовать против акта, нарушающего права и свободы граждан, и приостанавливать его действие до рассмотрения протеста. Также законом был закреплен надзор за исполнением законов в судах и участие в гражданском судопроизводстве в пределах своей компетенции.'
  },
  {
    'title': 'Что такое инвестиционный пай?',
    'text': 'Инвестиционный пай является именной бездокументарной ценной бумагой, удостоверяющей право его владельца на долю в имуществе паевого фонда.'
  },
  {
    'title': 'Какие виды ПИФов существуют?',
    'text': 'В современном российском обществе прокуратура является государственным органом, осуществляющим надзор за соблюдением конституционных прав граждан и законности во всех сферах жизни государства. История развития статуса прокурора в гражданском и арбитражном судопроизводстве насчитывает более ста лет.'
  },
  {
    'title': 'Из чего формируется доход по ПИФ?',
    'text': 'В 1992 году был принят Федеральный закон "О прокуратуре Российской Федерации", который расширял возможности участия прокурора в судебном разбирательстве'
  }
] %}

<section class="faq">
  <div class="wrapper">
    <h1 class="faq__title title title--primary">Вопросы и ответы</h1>

    <div class="faq__body">
      <ul class="faq__list">
        {% for item in faqList %}
          <li class="faq__item accordion">
            <div class="accordion__head">
              <h4 class="accordion__title">{{ item.title }}</h4>
              <div class="accordion__icon">
                <span class="accordion__icon-open accordion__icon-open--active">+</span>
                <span class="accordion__icon-close">-</span>
              </div>
            </div>
            <div class="accordion__body">
              <p>
                {{ item.text }}
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>