<!DOCTYPE html>
<html lang="ru">
  <head>
    {% set pageTitle = 'ТРИНФИКО – независимый брокер' %}
    {% include "./components/head/head.html" %}
  </head>

  <style>
    section {
      padding: 40px 0;
    }

    .childs-margin-bottom>* {
      margin-bottom: 30px;
    }

    .childs-margin-right>* {
      margin-right: 10px;
    }

    .flex-row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .grid {
      display: flex;
      flex-flow: row wrap;
    }

    .grid li {
      width: calc(50% - 20px);
      margin-left: 40px;
      margin-bottom: 40px;
    }

    .grid li:nth-child(2n + 1) {
      margin-left: 0;
    }

    @media (max-width: 767.98px) {
      .flex-row {
        flex-direction: column;
        align-items: flex-start;
      }

      .flex-row>* {
        margin-right: 0;
        margin-bottom: 30px;
      }

      .grid {
        flex-flow: column nowrap;
      }

      .grid li {
        width: 100%;
        margin-left: 0;
      }
    }

  </style>
  <body class="page">

    {# begin header #}
    {% include "./components/header/header.html" %}
    {% include "./components/mobile-menu/mobile-menu.html" %}
    {# end header #}
    
    <div class="page__content">
      {% set breadCrumbsList = [
        {
            'text': 'Примеры',
            'url': '\\'
        }
      ] %}
      {% include "./components/bread-crumbs/bread-crumbs.html" %}


      <section>
        <div class="wrapper childs-margin-bottom">
          <a href="/" class="main-logo">
            <svg class="main-logo__icon inline-svg">
              <use xlink:href="images/sprite.svg#mainLogo"></use>
            </svg>
          </a>
          <h1 class="title title--primary">Heading H1</h1>
          <h2 class="title title--secondary">Heading H2</h2>
          <h3 class="title title--tertiary">Heading H3</h3>
  
          <ul class="childs-margin-bottom">
            <li>
              <div class="round-icon">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--tme inline-svg">
                    <use xlink:href="images/sprite.svg#tme"></use>
                  </svg>
                </div>
              </div>
              
              <div class="round-icon round-icon--small">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--tme inline-svg">
                    <use xlink:href="images/sprite.svg#tme"></use>
                  </svg>
                </div>
              </div>
            </li>
            <li>
              <div class="round-icon round-icon--large">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--mail inline-svg">
                    <use xlink:href="images/sprite.svg#mail"></use>
                  </svg>
                </div>
              </div>

              <div class="round-icon">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--mail inline-svg">
                    <use xlink:href="images/sprite.svg#mail"></use>
                  </svg>
                </div>
              </div>

              <div class="round-icon round-icon--small">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--mail inline-svg">
                    <use xlink:href="images/sprite.svg#mail"></use>
                  </svg>
                </div>
              </div>
            </li>
            <li>
              <div class="round-icon round-icon--dark">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--user inline-svg">
                    <use xlink:href="images/sprite.svg#user"></use>
                  </svg>
                </div>
                <span class="round-icon__text none--ss none--sm">
                  Личный <br class="none--lg none--xl">кабинет
                </span>
              </div>
              
              <div class="round-icon round-icon--dark round-icon--small">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--user inline-svg">
                    <use xlink:href="images/sprite.svg#user"></use>
                  </svg>
                </div>
                <span class="round-icon__text none--ss none--sm">
                  Личный <br class="none--lg none--xl">кабинет
                </span>
              </div>
            </li>
            <li>
              <div class="round-icon round-icon--transparent round-icon--big">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--tme inline-svg">
                    <use xlink:href="images/sprite.svg#tme"></use>
                  </svg>
                </div>
              </div>
            </li>

            <li>
              <div class="round-icon round-icon--large">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--call inline-svg">
                    <use xlink:href="images/sprite.svg#call"></use>
                  </svg>
                </div>
              </div>
            </li>

            <li>
              <a class="odone" href="https://o-d.one/" target="_blank">
                <svg class="odone__icon">
                  <use xlink:href="images/sprite.svg#odone"></use>
                </svg>
              </a>
            </li>
          </ul>

          <a href="tel:+74957252500" class="phone">
            <span class="phone__text">+7 495 725-25-00</span>
          </a>
        </div>
      </section>

      <section style="background-color: #094883;">
        <div class="wrapper childs-margin-right flex-row">

          <a href="" class="button button--fill button--round-icon">
            <span class="button__round-icon round-icon round-icon--default round-icon--user round-icon--dark">
              <div class="round-icon__wrapper">
                <svg class="round-icon__icon round-icon__icon--user inline-svg">
                  <use xlink:href="images/sprite.svg#user"></use>
                </svg>
              </div>
            </span>
            <span class="button__text">
              Личный кабинет
            </span>
          </a>

          <button class="button button--long">
            <span class="button__text">
              Получить консультацию
            </span>
          </button>
        </div>
      </section>

      <section>
        <div class="wrapper childs-margin-bottom">
          <div class="childs-margin-right flex-row">
            <button class="button button--white button--long">
              <span class="button__text">
                Получить консультацию
              </span>
            </button>
  
            <button class="button button--fill button--arrow">
              <span class="button__text">
                Задать вопрос
              </span>
              <svg class="button__arrow inline-svg">
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </button>

            <a href="" class="button button--fill button--short">
              <span class="button__text">
                Посмотреть
              </span>
            </a>
          </div>

          <ul class="grid">
            <li>
              <div class="file-card">
                <div class="file-card__body">
                  <div class="file-card__title">
                    Лицензия профессионального участника рынка ценных бумаг на осуществление брокерской деятельности                
                  </div>
                  <div class="file-card__label">
                    Не актуально в связи с изменением наименования
                  </div>
                </div>
                <div class="file-card__footer">
                  <a href="" class="file-card__button button button--fill button--short button--upper">
                    <span class="button__text">
                      Посмотреть
                    </span>
                  </a>
                  <div class="file-card__info">
                    <div class="file-card__date">Дата раскрытия: 24.05.2021</div>
                    <div class="file-card__size">1.4 Мб</div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="file-card">
                <div class="file-card__body">
                  <div class="file-card__title">
                    Лицензия профессионального участника рынка ценных бумаг на осуществление брокерской деятельности                
                  </div>
                  <div class="file-card__label">
                    Не актуально в связи с изменением наименования
                  </div>
                </div>
                <div class="file-card__footer">
                  <a href="" class="file-card__button button button--fill button--short button--upper">
                    <span class="button__text">
                      Посмотреть
                    </span>
                  </a>
                  <div class="file-card__info">
                    <div class="file-card__date">Дата раскрытия: 24.05.2021</div>
                    <div class="file-card__size">1.4 Мб</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div><a class="link" href="">Полные тарифы брокера (PDF)</a></div>
          <div><span class="link">Полные тарифы брокера (PDF)</span></div>

          <div class="label-text">
            <span class="label-text__label">
              Телефон
            </span>
            <a href="tel:+74957272500" class="label-text__text label-text__text--black">+ 7 495 727 25 00</a>
          </div>

          <div class="label-text">
            <span class="label-text__label">
              Электронная почта
            </span>
            <a href="mailto:info@trinfico.com" class="link label-text__text">info@trinfico.com</a>
          </div>

          <button class="button button--fill" data-hystmodal="#message-modal">
            <span class="button__text">
              Модалка Сообщение
            </span>
          </button>

          <button class="button button--fill" data-hystmodal="#question-modal">
            <span class="button__text">
              Модалка Вопрос
            </span>
          </button>

          <button class="button button--fill" data-hystmodal="#rezume-modal">
            <span class="button__text">
              Модалка Резюме
            </span>
          </button>
        </div>
      </section>
    </div>

    {# begin footer #}
    {% include "./components/footer/footer.html" %}
    {# end footer #}

    {# begin modals #}
    {% include "./components/hystmodal-question/hystmodal-question.html" %}
    {% include "./components/hystmodal-rezume/hystmodal-rezume.html" %}
    {% include "./components/hystmodal-message/hystmodal-message.html" %}
    {# end modals #}
  </body>
</html>
