<section class="career">
  <div class="career__wrapper wrapper">
    <div class="career__header">
      <h1 class="career__title title title--primary">Карьера</h1>
    </div>
    <div class="career__body">
      <p class="career__text">
        Приглашаем присоединиться к нашей
        команде активных и целеустремленных
        кандидатов, ориентированных на рост
        и развитие, умеющих как самостоятельно
        принимать решения, так и работать
        в команде.
      </p>
      <p class="career__text career__text--border-left">
        ТРИНФИКО предоставляет возможность
        открыть для себя новые возможности
        профессионалам финансовой сферы
        и проявить себя молодым специалистам.
      </p>

      <button href="" class="career__button button button--fill" data-hystmodal="#rezume-modal">Отправить резюме</button>
    </div>
    <picture>
      <source data-srcset="images/complex/career/career__img_sm.png 1x, images/complex/career/career__img_sm_2x.png 2x" media="(max-width: 767.98px)">
      <source data-srcset="images/complex/career/career__img_md.png" media="(max-width: 1279.98px)">
  
      <img class="lazy career__img" data-src="images/complex/career/career__img_lg.png" alt="">
    </picture>
  </div>
</section>