.career {
  background-color: #fff;

  &__wrapper {
    position: relative;
  }

  &__header {
    margin-right: -30px;
    margin-left: -30px;
    padding: 17px 30px 16px;
    border-bottom: 1px solid #cfcfcf;

    @include sm {
      margin-right: 0;
      margin-left: 0;
      padding: 38px 0 19px;
    }

    @include lg {
      padding-top: 40px;
      padding-bottom: 19px;
    }
  }

  &__body {
    position: relative;
    z-index: 5;
    padding-top: 25px;
    padding-bottom: 186px;

    @include sm {
      padding-top: 43px;
      padding-bottom: 90px;
    }

    @include lg {
      padding-top: 45px;
      padding-bottom: 139px;
    }
  }

  &__text {
    margin-bottom: 7px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    @include sm {
      max-width: 535px;
      margin-bottom: 24px;
      font-size: 19px;
      line-height: 31px;
    }

    @include lg {
      margin-bottom: 23px;
    }

    &--border-left {
      position: relative;
      margin-bottom: 22px;
      padding-top: 8px;
      padding-left: 21px;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;

      @include sm {
        max-width: 410px;
        margin-bottom: 33px;
        padding-top: 0;
        font-size: 16px;
        line-height: 26px;
      }

      @include lg {
        max-width: 540px;
        margin-bottom: 44px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 3px;
        height: 95px;
        background-color: $primary;
        border-radius: 2px;
        content: "";

        @include lg {
          top: 4px;
          height: 67px;
        }
      }
    }
  }

  &__button {
    min-width: 200px;
    height: 45px;

    @include sm {
      height: 50px;
    }
  }

  &__img {
    position: absolute;
    right: -1px;
    bottom: 20px;
    width: 360px;
    height: 225px;

    @include sm {
      right: 23px;
      bottom: 45px;
      width: 400px;
      height: 250px;
    }

    @include lg {
      right: 110px;
      bottom: 52px;
      width: 640px;
      height: 400px;
    }
  }
}
