<section class="feedback">
  <div class="wrapper">
    <div class="feedback__body" data-scrollspy="fade-in">
      <h2 class="feedback__title title title--secondary">
        Остались вопросы?
      </h2>

      <div class="feedback__text">
        Подробную информацию о продуктах <br>
        и услугах можно получить по телефону:
      </div>

      <a href="tel:+74957252500" class="feedback__phone">+7 495 725-25-00</a>

      <button class="feedback__button button button--fill button--arrow" data-hystmodal="#question-modal">
        <span class="button__text">
          Задать вопрос
        </span>
        <svg class="button__arrow inline-svg">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </button>

      <picture>
        <source data-srcset="images/feedback/feedback__img_sm@2x.png 2x" media="(max-width: 767.98px)">
        <source data-srcset="images/feedback/feedback__img_md@2x.png 2x" media="(max-width: 1279.98px)">
        <source data-srcset="images/feedback/feedback__img_lg@2x.png 2x">
        
        <img class="lazy feedback__img" data-src="images/feedback/feedback__img_lg.jpg" data-srcset="images/feedback/feedback__img_lg@2x.jpg 2x" alt="">
      </picture>
    </div>
  </div>

  <picture>
    <source data-srcset="images/feedback/feedback__bg_sm@2x.jpg 2x" media="(max-width: 767.98px)">
    <source data-srcset="images/feedback/feedback__bg_md@2x.jpg 2x" media="(max-width: 1279.98px)">
    <source data-srcset="images/feedback/feedback__bg_lg@2x.jpg 2x">

    <img class="lazy img-cover feedback__bg" data-src="images/feedback/feedback__bg_lg.jpg" data-srcset="images/feedback/feedback__bg_lg@2x.jpg 2x" alt="">
  </picture>

</section>