<ul class="tariffs-accordion accordion" data-accordion-single="true">
  <li class="tariffs-accordion__item accordion__item">
    <div class="tariffs-accordion__head accordion__head">
      <div class="tariffs-accordion__title">{{ item.title }}</div>
      <div class="tariffs-accordion__sub-title">Брокерская комиссия, в % от суммы сделки, включая НКД</div>
      <div class="tariffs-accordion__toggle">
        <svg class="main-logo__icon">
          <use xlink:href="images/sprite.svg#arrow_2"></use>
        </svg>
      </div>
    </div>
    <div class="tariffs-accordion__body accordion__body">
      <div>{{ item.tariff_1 }}</div>
      <div>{{ item.tariff_2 }}</div>
    </div>
  </li>
</ul>