<section class="notfound">
  <div class="wrapper">
    <div class="notfound__body hidden" data-scrollspy="fade-in">
      <h1 class="notfound__title title title--primary">Страница не найдена</h1>
      <p class="notfound__text">
        Запрашиваемая вами страница <br class="notfound-br notfound-br--1">
        не существует <br class="notfound-br notfound-br--2"> или была удалена.
      </p>
      <a href="/main.html" class="notfound__button button button--fill button--arrow">
        <span class="button__text">
          На главную
        </span>
        <svg class="button__arrow inline-svg">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>

      <picture>
        <source data-srcset="images/complex/notfound/404__img_sm.png 1x, images/complex/notfound/404__img_sm_2x.png 2x" media="(max-width: 767.98px)">
        <source data-srcset="images/complex/notfound/404__img_md.png" media="(max-width: 1279.98px)">

        <img class="lazy notfound__img" data-src="images/complex/notfound/404__img_lg.png" alt="">
      </picture>
    </div>
  </div>
</section>