.footer {
  background-color: #fff;

  &__container {
    margin-right: -16px;
    margin-left: -16px;
    padding-right: 16px;
    padding-left: 16px;
    border-bottom: 1px solid #cfcfcf;

    @include sm {
      margin-right: 0;
      margin-left: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 29px;

    @include sm {
      flex-flow: row wrap;
      padding-top: 58px;
      padding-bottom: 46px;
    }

    @include lg {
      padding-top: 56px;
      padding-bottom: 59px;
    }

    .footer {
      &__top-part-1 {
        display: flex;
        margin-bottom: 25px;

        @include sm {
          flex: 0 0 345px;
          flex-direction: column;
          margin-top: -2px;
          margin-bottom: 0;
        }

        @include lg {
          flex: 0 0 406px;
        }
      }

      &__top-part-2 {
        display: flex;
        margin-bottom: 29px;

        @include sm {
          flex: 1 1 345px;
          margin-bottom: 0;
        }

        @include lg {
          flex: 1 1 406px;
        }
      }

      &__top-part-3 {
        display: flex;

        @include sm {
          flex: 0 0 100%;
          margin-top: 34px;
        }

        @include lg {
          flex: 0 0 275px;
          flex-direction: column;
          margin-top: 0;
        }
      }

      &__address {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;

        @include sm {
          margin-bottom: 23px;
          font-size: 21px;
          line-height: 31px;
        }

        @include lg {
          font-size: 23px;
        }
      }

      &__networks {
        margin-left: auto;
        padding-top: 3px;

        @include sm {
          display: flex;
          margin-left: 0;
          padding-top: 0;
        }

        &-text {
          display: none;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;

          @include sm {
            display: block;
            margin-right: 12px;
          }
        }

        &-list {
          margin-right: 1px;

          @include sm {
            margin-top: -5px;
            margin-right: 0;
          }
        }
      }

      &__label-text {
        &--tel {
          flex: 0 0 188px;

          @include sm {
            flex: 0 0 345px;
          }

          @include lg {
            flex: 0 0 auto;
            margin-bottom: 34px;
          }
        }

        &--email {
          flex: 0 0 157px;

          @include sm {
            flex: 0 0 345px;
          }

          @include sm {
            flex: 0 0 auto;
          }
        }
      }

      &__nav {
        &-list {
          &--left {
            flex: 0 0 188px;

            @include sm {
              flex: 0 0 252px;
            }

            @include lg {
              flex: 0 0 243px;
            }
          }

          &--right {
            flex: 0 0 157px;

            @include sm {
              flex: 0 0 123px;
            }

            @include lg {
              flex: 0 0 243px;
            }
          }
        }

        &-item {
          margin-bottom: 22px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-link {
          color: black;
          font-weight: 400;
          font-size: 14px;
          transition: all $duration ease;

          &:hover {
            color: $primary;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 14px;
    padding-bottom: 16px;

    @include sm {
      flex-direction: row;
      padding-top: 23px;
      padding-bottom: 26px;
    }

    @include lg {
      padding-top: 32px;
      padding-bottom: 37px;
    }

    .footer {
      &__copyright {
        margin-bottom: 7px;
        color: rgba($color: #000, $alpha: 0.5);
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;

        @include sm {
          flex: 0 0 345px;
          margin-bottom: 0;
          font-size: 14px;
        }

        @include lg {
          flex: 0 0 405px;
        }
      }

      &__privacy {
        color: rgba($color: #000, $alpha: 0.5);
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        text-decoration: underline;
        transition: all $duration ease;

        @include sm {
          flex: 0 0 345px;
          font-size: 14px;
        }

        @include lg {
          flex: 0 0 406px;
        }

        &:hover {
          color: $primary;
          text-decoration: underline;
        }
      }

      &__odone {
        position: absolute;
        top: 20px;
        right: 18px;

        @include sm {
          top: 29px;
          right: 2px;
        }

        @include lg {
          top: 28px;
          right: 0;
        }
      }
    }
  }

  &__bottom {
    padding-top: 24px;
    padding-bottom: 16px;

    @include sm {
      padding-top: 27px;
      padding-bottom: 0;
    }

    @include lg {
      padding-top: 29px;
      padding-bottom: 0;
    }

    p {
      margin-bottom: 13px;
      color: #444;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;

      @include sm {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}
