<footer class="footer">
  <div class="footer__wrapper wrapper">
    <div class="footer__top footer__container">
      <div class="footer__top-part-1">

        <div class="footer__address">
          Россия,<br>
          129090, Москва,<br>
          Ботанический переулок, д. 5
        </div>

        <div class="footer__networks">
          <div class="footer__networks-text">
            Мы в соц.<br>
            сетях:
          </div>
          <div class="footer__networks-list">
            <a class="footer__networks-item" href="">
              <div class="round-icon round-icon--transparent round-icon--big">
                <div class="round-icon__wrapper">
                  <svg class="round-icon__icon round-icon__icon--tme inline-svg">
                    <use xlink:href="images/sprite.svg#tme"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>

      <nav class="footer__top-part-2">
        <ul class="footer__nav-list footer__nav-list--left">
          <li class="footer__nav-item"><a class="footer__nav-link" href="">О компании</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Раскрытие информации</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">QUIK</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Тарифы</a></li>
        </ul>
        <ul class="footer__nav-list footer__nav-list--right">
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Вопросы и ответы</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Лицензии</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Карьера</a></li>
          <li class="footer__nav-item"><a class="footer__nav-link" href="">Контакты</a></li>
        </ul>
      </nav>

      <div class="footer__top-part-3">
        <div class="footer__label-text footer__label-text--tel">
          <div class="label-text">
            <span class="label-text__label">
              Контактный телефон:
            </span>
            <a href="tel:+74957272500" class="label-text__text label-text__text--black">+ 7 495 727 25 00</a>
          </div>
        </div>

        <div class="footer__label-text footer__label-text--email">
          <div class="label-text">
            <span class="label-text__label">
              Электронная почта:
            </span>
            <a href="mailto:info@trinfico.com" class="link label-text__text">info@trinfico.com</a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__center footer__container">
      <div class="footer__copyright">
        © 2022 Акционерное общество <br class="none-lg none-xl none-xxl">«ТРИНФИКО».
      </div>
      <a href="" class="footer__privacy">
        Согласие на обработку <br class="none-ss none-sm none-lg none-xl none-xxl">персональных данных 18+
      </a>
      <a class="footer__odone odone" href="https://o-d.one/" target="_blank">
        <svg class="odone__icon">
          <use xlink:href="images/sprite.svg#odone"></use>
        </svg>
      </a>
    </div>

    <div class="footer__bottom">
      <p>
        Все права защищены.
      </p>
      <p>
        Акционерное общество «ТРИНФИКО». Лицензия профессионального участника рынка ценных бумаг на осуществление брокерской деятельности № 177-06305-100000 от 16 сентября 2003 года. Лицензия профессионального участника рынка ценных бумаг на осуществление дилерской деятельности № 177-06323-010000 от 16 сентября 2003 года. Лицензия профессионального участника рынка ценных бумаг
        на осуществление деятельности по управлению ценными бумагами № 177-06326-001000 от 16 сентября 2003 года. Лицензия профессионального участника рынка ценных бумаг на осуществление депозитарной деятельности № 177-06362-000100 от 19 сентября 2003 года.
      </p>
    </div>
  </div>
</footer>