<div class="contacts-block">
  <div class="contacts-block__label">
    Телефон
  </div>

  <div class="contacts-block__text">
    <a class="contacts-block__link" href="tel:+74957272500">+ 7 495 727 25 00</a>
  </div>

  <div class="contacts-block__icon">
    <div class="round-icon">
      <div class="round-icon__wrapper">
        <svg class="round-icon__icon round-icon__icon--call inline-svg">
          <use xlink:href="images/sprite.svg#call"></use>
        </svg>
      </div>
    </div>
  </div>
</div>