{% set quikList = [
  {
      'title': 'Заявление о предоставлениии в пользование системы QUIK'
  },
  {
    'title': 'Дистрибутив ПО QUIK'
  },
  {
    'title': 'Дистрибутив ПО Keygen'
  },
  {
    'title': 'Инструкция по установке ПО QUIK'
  },
  {
    'title': 'Инструкция по использованию ПО Keygen'
  }
] %}

<section class="quik">
  <div class="wrapper">
    <h1 class="quik__title title title--primary">QUIK</h1>
    <ul class="quik__list">
      {% for item in quikList %}
      <li class="quik__item">
        <div class="download-card" data-scrollspy="fade-in">
          <div class="download-card__body">
            <div class="download-card__text">{{ item.title }}</div>
          </div>
          <div class="download-card__footer">
            <a href="" class="download-card__button button button--fill" download>Скачать</a>
            <img class="download-card__file-icon" src="images/embedded/download-card/file.svg" alt="">
          </div>
        </div>
        
      </li>
      {% endfor %}
    </ul>
  </div>
</section>